body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5FBFF;
}

.nav{
    display:flex;
    align-items: center;
    padding: 10px;
    width:100%;
    height:50px;
    background-color: #0E578D;
    /* border-radius: 12px 12px 0 0; */
    box-sizing: border-box;
   
}

.nav-container{
    display:flex;
    align-items: center;
    max-width:1200px;
    width:100%;
    box-sizing: border-box;
    margin: auto;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    cursor: pointer;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    min-width:32px;
    height:32px;
    border-radius: 50%;
    background-color: #BDE3FF;
    margin-right: 10px;
}

.logo .text{
    color: #0D99FF;
    font-family: 'ABeeZee', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.wakachiau{
    color: #BDE3FF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.PARKING{
    color: #BDE3FF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.menu_container{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
}

.menu{
    width: 80px;
    height: 32px;
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    border-radius: 12px;
    cursor: pointer;
}

.base-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50px;
    background-color: #0E578D;
    /* position: fixed;
    bottom: 0; */
    /* border-radius:0 0 12px 12px; */
    /* position: fixed;
    bottom: 0; */
}

.footer_content{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#BDE3FF;
}

.footer_content img{
    width: 17px;
    height: 17px;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10px;
}
   
.menuContent {
    position: fixed;
    top: 50px;
    right: -100%;
    width: 100%;
    background: rgb(15, 155, 143);
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1000;
}

.menuContent_toggled {
    right: 0; 
}

.list-sign-in{
    display:flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    height:30px;
    background: #fefefe;
    margin-bottom: 1px;
    cursor: pointer;
}

.list-sign-in:hover{
    background-color: #edecec;
}

.list-sign-in-toggled{
    display:none;
}

.list-sign-out{
    display:none;
    align-items: center;
    padding: 5px;
    width: 100%;
    height:30px;
    background: #fefefe;
    margin-bottom: 1px;
    cursor: pointer;
}

.list-sign-out:hover{
    background-color: #edecec;
}

.list-sign-out-toggled{
    display:flex;
}

.list{
    display:none;
    align-items: center;
    padding: 5px;
    width: 100%;
    height:30px;
    background: #fefefe;
    margin-bottom: 1px;
    cursor: pointer;
}

.list:hover{
    background-color: #edecec;
}

.black-back{
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.25); 
    z-index: 1000; 
}

.black-back-toggled{
    display: block;
}

.signin-container, .signup-container{
    width:390px;
    display:none;
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 12px;
    border: 0.5px solid #0E578D;
    background: #fefefe;
    margin-top: 5px;
    z-index: 1000; 
}

.signin-container-toggled, .signup-container-toggled{
    display: block;
}

.signin-container .header, .signup-container .header{
    height:20px;
    border-radius: 12px 12px 0 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: linear-gradient(270deg, #0E578D 0%, #6AB 100%);
}

.header .close{
    width: 50px;
    height: 24px;
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    border-radius: 12px;
    cursor: pointer;
}

.close img{
    width: 17px;
    height: 17px;
    object-fit: cover;
    cursor: pointer;
}

.signin-form, .signup-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.signin-form .input-box, .signup-form .input-box{
    display:flex;
    justify-content: space-between;
    width:90%;
    height:auto;
}

.signin-container .text, .signup-container .text{
    /* height:20px; */
    font-size: 20px;
    /* margin-right: 20%; */
}

.signin-container .consistent-text, .signup-container .consistent-text{
    font-family: 'Noto Sans TC', sans-serif; 
    font-size: 20px;
    line-height: 1.6;
}

.signin-button, .signup-button{
    width: 100px;
    height: 40px;
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
}

.signon-go-container, .signin-return-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    border-radius: 12px;
}

.go-signon, .return-signin{
    width: 80px;
    height: 40px;
    color: #1E1E1E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    border-radius: 12px;
}

.signin-container .footer, .signup-container .footer{
    width:100%;
    height:20px;
    border-radius:0 0 12px 12px;
    background: linear-gradient(270deg, #0E578D 0%, #6AB 100%);
}

.alert_informations{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
