.plate-board-container{
    margin: auto;
    width: 90%;
    overflow: hidden;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow-y: auto;
}


.plate-board-information{
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    border: 1px solid #d4d6d7;
    box-sizing: border-box;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    .plate-board-information {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
}

.cash-record-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-family: Arial, sans-serif; 
}

select {
    padding: 8px 12px; 
    margin-right: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: white; 
    cursor: pointer; 
}

select:hover {
    border-color: #888; 
}

select:focus {
    outline: none; 
    border-color: #555; 
    cursor: pointer;
}

option {
    padding: 8px; 
    background-color: white; 
    border: none; 
}


