
.packing-page-container{
    width:340px;
    display:none;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 12px;
    border: 0.5px solid #0E578D;
    background: #fefefe;
    margin-top: 5px;
    z-index: 1000; 
}

.packing-page-container .loader {
    width: 100%;
    height: 20vh;
    display: none;
    justify-content: center;
    align-items: center;
  }

.packing-page-container .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #1846b0;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin .8s linear infinite;
  }
@keyframes spin { to { transform: rotate(360deg); } }

.packing-page-container-toggled{
    display:block;
}

.packing-page-container .header{
    height:20px;
    border-radius: 12px 12px 0 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: linear-gradient(270deg, #0E578D 0%, #6AB 100%);
}

.packing-page-information{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.packing-page-information-toggled{
    display: flex;
}

.packing-page-information-none{
    height:40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.packing-page-information-none-toggled{
    display: none;
}


.packing-page-car-board-selected{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height:20vh;
}

.packing-page-car-board-selected-toggled{
    display: flex;
}

.packing-page-container-input-box{
    display:flex;
    justify-content: center;
    width:100%;
    height:auto;
}

.packing-page-container-input-box .consistent-text{
    font-family: 'Noto Sans TC', sans-serif; 
    line-height: 1.6;
}

.packing-page-container-input-box .text{
    font-family: 'Noto Sans TC', sans-serif; 
    line-height: 1.6;
}

.selector {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 12px;
    background: #fefefe;
    margin: 20px auto 20px auto;
    color: #1E1E1E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.packing-page-container .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background: linear-gradient(270deg, #0E578D 0%, #6AB 100%);
    border-radius: 0 0 12px 12px;
}