<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/cash_flow_record.css">
    <title>首頁</title>
</head>
<body>
    <div th:replace="nav :: nav"></div>
    <div th:replace="sign_system :: sign_system"></div>
    <!-- {% include 'nav.html' %} 
    {% include 'sign_system.html' %} -->
    <div class="cash-record-selector">
        <select id="data-type-selector">
            <option value="type1">儲值紀錄</option>
            <option value="type2">停車紀錄</option>
            <option value="type3">停車場收入</option>
        </select>
        <select id="time-range-selector">
            <option value="this_week">本週</option>
            <option value="this_month">本月</option>
            <option value="all">全部</option>
            <!-- 其他時間範圍 -->
        </select>
    </div>
    <div class="plate-board-container">
        <div class="plate-board-information" id="plate-board-information">
            <div id="record-date"></div>
            <div id="record-car-board"></div>
            <div id="record-parking-lot-name"></div>
            <div id="record-square-number"></div>
            <div id="record-start-time"></div>
            <div id="record-stop-time"></div>
            <div id="record-payment"></div>
        </div>
    </div>
    <div th:replace="foot :: foot"></div>
    <!-- {% include 'foot.html' %} -->
    <script src="/js/sign_system.js"></script>
    <script src="/js/cash_record.js"></script>
    <script src="/js/base.js"></script>
</body>
</html>