<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/id.css">
    <link rel="stylesheet" href="/css/plate_board.css">
    <link rel="stylesheet" href="/css/parking_lot_booking.css">
    <link rel="stylesheet" href="/css/selector.css">
    <link rel="stylesheet" href="/css/parking_lot_page.css">
    <link rel="stylesheet" href="/css/parking_page.css">
    <link rel="stylesheet" href="/css/alert.css">
    <title>首頁</title>
</head>
<body>
    <div th:replace="~{nav :: nav}"></div>
    <div th:replace="~{sign_system :: sign_system}"></div>
    <div th:replace="~{parking_page :: parking_page}"></div>
    <div th:replace="~{alert_page :: alert_page}"></div>
    <main class="main">
        <div class="map-container">
            <div class="map" id="map"></div>
            <div class="search-bar">
                <input id="searchInput" placeholder="你想停哪邊?">
                <button id="search-bar-button">確定</button>
            </div>
            <button class="returnToCurrentPosition" id="returnToCurrentPosition"><img src="/image/middle.png"></button>
            <button class="search-goal-button" id="search-goal-button"><img src="/image/search.png"></button>
        </div>
        <div th:replace="~{parking_lot_booking :: parking_lot_booking}"></div>
    </main>
    <div th:replace="~{foot :: foot}"></div>
    <script src="/js/base.js"></script>
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "AIzaSyCiz02ZEX650VEundSMH87J_fHaDtmMQP8",
          v: "weekly",
        });
    </script>
    <script src="/js/googleMap.js"></script>
    <script src="/js/sign_system.js"></script>
     <script src="/js/googleMapIndex.js"></script>
    <script src="/js/parking_page.js"></script>
    <script src="/js/parking_lot_booking.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/js/webSocket.js"></script>
</body>
</html>